@media screen and (max-width: 992px) and (orientation: portrait) {
    .options-tab {
        height: 50dvh;
        max-width: 100%;
        top: 50%;
    }

    .directional-button {
        bottom: 45%;
        transform: translateX(-50%);
    }
}

@media screen and (max-height: 430px) and (orientation: landscape) {
    .options-tab {
        height: 50dvh;
        max-width: 100%;
        top: 50%;
    }
}

@media screen and (max-width: 430px) {
    .options-tab {
        padding-left: 10px;
        padding-right: 10px;
    }

    .view-side-indicator {
        top: 58px;
        min-width: 150px;
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}
